[submodule "libes"]
	path = libes
	url = git@github.com:FoxInTango/libes.git
[submodule "libcpp"]
	path = libcpp
	url = git@github.com:FoxInTango/libcpp.git
[submodule "libmodel"]
	path = libmodel
	url = git@github.com:FoxInTango/libmodel.git
[submodule "libmodule"]
	path = libmodule
	url = git@github.com:FoxInTango/libmodule.git
[submodule "libfsevent"]
	path = libfsevent
	url = git@github.com:FoxInTango/libfsevent.git
[submodule "libevent"]
	path = libevent
	url = git@github.com:FoxInTango/libevent.git
[submodule "libioevent"]
	path = libioevent
	url = git@github.com:FoxInTango/libioevent.git
[submodule "libast"]
	path = libast
	url = git@github.com:FoxInTango/libast.git
[submodule "libarguments"]
	path = libarguments
	url = git@github.com:FoxInTango/libarguments.git
[submodule "libecho"]
	path = libecho
	url = git@github.com:FoxInTango/libecho.git
[submodule "libstream"]
	path = libstream
	url = git@github.com:FoxInTango/libstream.git
[submodule "libvm"]
	path = libvm
	url = git@github.com:FoxInTango/libvm.git
[submodule "libstring"]
	path = libstring
	url = git@github.com:FoxInTango/libstring.git
[submodule "liburl"]
	path = liburl
	url = git@github.com:FoxInTango/liburl.git
[submodule "modules/io_event_tls_engine"]
	path = modules/io_event_tls_engine
	url = git@github.com:FoxInTango/io_event_tls_engine.git
